@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.modal-overlay {
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0,0,0,0.65);
  padding: 10%;
}

.modal {
  min-width: 500px;
  border-radius: 10px;
  background-color: white;
}

.modal-content {
  padding: 60px 60px 60px 60px;
  /* background: yellow; */
}

.close {
  color: #aaa;
  float: right;
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  transition: all .4s;
  border: none;
  background: none;;
  outline: none;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
  transform: scale(1.5);
  outline: none;
}


@media (max-width: 768px) {  
  .modal {
    min-width: 423px;
  }
  
  .modal-content {
    padding: 45px 45px 45px 45px;
  }
  
  .close {
    font-size: 32px;
  }
}