@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

footer {
  display: flex;
  justify-content: space-around;
  height: 26vh;
  background-color: black;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  padding: 80px 5% 80px 5%;
}

footer h4 {
  font-size: 18px;
  color: #7f7f7f
}

footer ul {
  list-style: none;
  min-width: 20%;
}

footer li {
  padding: 11px 0 11px 0;
}

.social {
  display: flex;
  justify-content: space-around;
  padding: 11px 0 0 0;
  font-size: 32px;
}

.news-letter {
  margin: 11px 0 0 0;
  width: 100%;
}

.news-letter input {
  height: 45px;
  width: 80%;
  background-color: rgba(127, 127, 127, .5);
  border: none;
}

.news-letter input::placeholder {
  padding: 10px;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  font-size: 18px;
  color: rgba(229, 229, 229, .32);
}

.news-letter button {
  height: 45px;
  width: 20%;
  color: white;
  font-family: inherit;
  font-size: 18px;
  background-color: #222222;
  border: none;
  text-transform: uppercase;
}

.news-letter button:active {
  transform: scale(.9);
}

.news-letter button:focus {
  outline: none;
}

@media (max-width: 950px) {
  footer {
    padding: 80px 1% 80px 1%;
  }

  footer h4 {
    font-size: 14px;
  }

  footer li {
    padding: 9px 0 9px 0;
  }

  .social {
    font-size: 28px;
  }

  .news-letter input {
    height: 40px;
  }

  .news-letter input::placeholder {
    padding: 7px;
    font-size: 15px;
  }

  .news-letter button {
    height: 40px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  footer h4 {
    font-size: 22px;
    margin: 0 0 15px 0;
  }

  footer h4:hover {
    cursor: pointer;
  }

  footer li {
    display: none;
  }

  .social {
    display: inline;
    padding: 5px;
    font-size: 25px;
  }

  .social i {
    padding: 5px;
    margin-bottom: 15px;
  }

  .news-letter input {
    height: 40px;
    width: 40%;
  }

  .news-letter input::placeholder {
    padding: 7px;
    font-size: 15px;
  }

  .news-letter button {
    height: 40px;
    font-size: 15px;
  }
}